@inject LobbyService Lobby;
@inject IJSRuntime JSRuntime;

@using Coord = (int X, int Y);

@* <button class="btn btn-primary" @onclick="() => {}">Click me</button> *@

<div class="game">
    @for (int x = 0; x < CurGame?.Width; x++)
    {
        @for (int y = 0; y < CurGame?.Height; y++)
        {
            Coord pos = (x, y);
            <div class="square" style=@GetPosStyleStr(pos)
                onclick="@(() => Click(pos))"
                oncontextmenu="@(() => HandleRightClick(pos))"
                onmouseover="@(() => MouseOver(pos))"
            >
            </div>
        }
    }
    @foreach (Entity e in (CurGame?.Entities?.Entities?.Values ?? [])) {

        if (e.Name == "Block") {
            <div class="block" style=@(GetColorStyleStr(e) + GetPosStyleStr(e.Position)) />
        } 
        if (e.Name == "Piece") {
            foreach (Coord p in e.Cells) {
                Coord cpos = (p.X + e.Position.X, p.Y + e.Position.Y);
                <div class="block" style=@(GetColorStyleStr(e) + GetPosStyleStr(cpos)) 
                    onclick="@(() => Click(cpos))"
                    oncontextmenu="@(() => HandleRightClick(cpos))"
                    onmouseover="@(() => MouseOver(cpos))"
                />
            }
        }
        
    }
</div>

<style>
    body {
        margin: 0;
    }
    
    .game {
        width: 100%;
        height: 100vh;
        position: relative;
    }

    .square {
        border: 0.5px solid black;
        position: absolute;
        box-sizing: border-box;
        height: @(100.0 /(CurGame?.Height ?? 2))%;
        width: @(100.0 / (CurGame?.Width ?? 2))%;
    }

    .block {
        position: absolute;
        box-sizing: border-box;
        opacity: 75%;
        height: @(100.0 /(CurGame?.Height ?? 2))%;
        width: @(100.0 / (CurGame?.Width ?? 2))%;
    }
</style>

<script>
    document.addEventListener('contextmenu', function(event) {
        event.preventDefault();
    }, false);
</script>


@code {
    public Game CurGame { get; set; }
    public Player CurPlayer { get; set; }
    protected override void OnInitialized()
    {
        if (Lobby?.JoinedGame == null) return;
        CurPlayer = Lobby.Player;
        CurGame = Lobby.JoinedGame!;
        CurGame.Notify += () => InvokeAsync(StateHasChanged);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
    }

    public void MouseOver(Coord pos) {
        Piece? playerPiece = CurGame.Entities.GetPlayerPiece(CurPlayer.PlayerID);
        if (playerPiece != null) {
            CurGame.Entities.Move(playerPiece, pos);
        }
        StateHasChanged();
    }

    public void HandleRightClick(Coord pos) {
        Piece? playerPiece = CurGame.Entities.GetPlayerPiece(CurPlayer.PlayerID);
        if (playerPiece != null) {
            playerPiece.RotateClockwise();
        }
        StateHasChanged();
    }

    public void Click(Coord pos) {
        Piece? playerPiece = CurGame.Entities.GetPlayerPiece(CurPlayer.PlayerID);
        if (playerPiece != null) {
            playerPiece.Cells.ForEach(c => {
                CurGame.Entities.Add(new Block() { 
                    Position = (pos.X + c.X, pos.Y + c.Y), 
                    Color = CurPlayer.Color
                });
            });
        }
        
    }

    public string GetPosStyleStr(Coord pos)
    {
        return $"top: {100.0 * pos.Y / CurGame.Height}%; left: {100.0 * pos.X / CurGame.Width}%;";
    }
    public string GetColorStyleStr(Entity e) {
        return "background-color: "+ e.Color + ";";
    }
}